<div id="<%= dom_id project %>">
  <p>
    <strong>Id:</strong>
    <%= project.id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= project.contact_email %>
  </p>

</div>
